<header>
  <img src="/images/{{images.logo}}" alt="Tidal Logo">
  <nav>

  </nav>
</header>
<section class="section-cont">
  <h2 class="hidden">Tidal Brand Introduction</h2>
  <div class="tidal-hero">
    <img id="tidal_btl" src="/images/{{images.bottle}}" alt="Tidal Water Bottle">
    <div class="wrdmark">
      <img src="/images/{{images.wrdMark}}" alt="Tidal Wordmark logo">
    </div>
  </div>
  <div class="prodIntro">
    <p class="paragraph">{{text.prodIntro1}}</p>
    <p class="paragraph">{{text.prodIntro2}}</p>
  </div>
</section>
<section class="section-cont">
  <h2 class="hidden">Tidal Bottle Video</h2>
  <div class="thumbs">
    <div class="thumb-wraper">
      <div class="balance thumb"></div>
      <p class="thumb-title">Balanced</p>
    </div>
    <div class="thumb-wraper">
      <div class="versatile thumb"></div>
      <p class="thumb-title">Versatile</p>
    </div>
    <div class="thumb-wraper">
      <div class="sustainable thumb"></div>
      <p class="thumb-title">Sustainable</p>
    </div>
  </div>
  <div class="desktop-only btn-cont">
    <a href="#" class="btn">buy now</a>
  </div>
  <div class="vid-wrap">
    <video id="vid" autoplay="true" muted="true" loop="true" controls="true"> </video>
  </div>
  <div class="mobile-only btn-cont">
    <a href="#" class="btn">buy now</a>
  </div>
</section>
<section class="section-cont">
  <h2 class="hidden">Tidal is a lifestyle</h2>
  <div class="picture">
    <h2 class="pic-title">Tidal is a lifestyle</h2>
    <img class="mobile-only" src="/images/{{images.lifestyle_mobile}}" alt="Tidal lifestyle">
    <img class="desktop-only" src="/images/{{images.lifestyle_desktop}}" alt="Tidal lifestyle">
  </div>
  <div class="lifestyle-text ls">
    <p class="paragraph">{{text.lifestyle}}</p>
    <div class="desktop-only">
      <div class="info-wraper">
        <div class="info">
          <h2>1 / 5</h2>
          <p>plastic bottles are recycled</p>
        </div>
        <div class="info">
          <h2>400-1000</h2>
          <p>Years for plastic bottles to decompose</p>
        </div>
        <div class="info">
          <h2>BPA Effects</h2>
          <p>Brain, Behaviour</p>
          <p>Heart, Fehaviour</p>
        </div>
      </div>
    </div>
</section>
<section class="section-cont">
  <h2 class="hidden">Tidal is health conscious</h2>
  <div class="desktop-only">
    <div class="lifestyle-text">
      <ul>{{text.list_title}}
        <li>{{text.list.[0]}}</li>
        <li>{{text.list.[1]}}</li>
        <li>{{text.list.[2]}}</li>
        <li>{{text.list.[3]}}</li>
        <li>{{text.list.[4]}}</li>
        <li>{{text.list.[5]}}</li>
      </ul>
      <p class="paragraph">{{text.health_text}}</p>
    </div>
  </div>
  <div class="picture" id="health">
    <h2 class="pic-title">Tidal is health conscious</h2>
    <img class="mobile-only" src="/images/{{images.health_mobile}}" alt="Tidal health">
    <img class="desktop-only" src="/images/{{images.health_desktop}}" alt="Tidal health">
  </div>
  <div class="mobile-only ">
    <div class="info-wraper">
      <div class="info">
        <h2>1 / 5</h2>
        <p>plastic bottles are recycled</p>
      </div>
      <div class="info">
        <h2>400-1000</h2>
        <p>Years for plastic bottles to decompose</p>
      </div>
      <div class="info">
        <h2>BPA Effects</h2>
        <p>Brain, Behaviour</p>
        <p>Heart, Fehaviour</p>
      </div>
    </div>
    <div class="lifestyle-text">
      <ul>{{text.list_title}}
        <li>{{text.list.[0]}}</li>
        <li>{{text.list.[1]}}</li>
        <li>{{text.list.[2]}}</li>
        <li>{{text.list.[3]}}</li>
        <li>{{text.list.[4]}}</li>
        <li>{{text.list.[5]}}</li>
      </ul>
      <p class="paragraph">{{text.health_text}}</p>
    </div>
  </div>
</section>
<footer>
  <p>All rights reserved for Tidal <span>Copyright © 2018</span></p>

</footer>