<header>
  <img src="/images/{{images.logo}}" alt="Tidal Logo">
  <nav>

  </nav>
</header>
<section class="section-cont">
  <h2 class="hidden">Tidal Bottle Introduction</h2>
  <div class="tidal-hero">
    <img id="tidal_btl" src="/images/{{images.bottle}}" alt="Tidal Water Bottle">
    <div class="wrdmark">
      <img src="/images/{{images.wrdMark}}" alt="Tidal Wordmark logo">
    </div>
  </div>
  <div class="prodIntro">
    <p class="paragraph">{{text.prodIntro1}}</p>
    <p class="paragraph">{{text.prodIntro2}}</p>
  </div>
</section>
<section class="section-cont">

</section>